@font-face {
    font-family: 'FontPixelSplitter';
    src: url('../../../public/assets/fonts/PixelSplitter-Bold.ttf') format('truetype');
}
:root {
    font-family: 'FontPixelSplitter', Arial;
}

.container::before {
    content: ""; /* Crea un elemento vacío */
    position: absolute; /* Establece la posición absoluta en relación con el contenedor */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/images/Fondo.jpg'); /* Cambia la ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    opacity: 0.5;
    z-index: -1; /* Coloca la capa detrás del contenido del contenedor */
    user-select: none; 
}
.container{
    
    position: relative; /* Establece la posición relativa para que ::before se posicione correctamente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del contenedor para que ocupe toda la altura de la ventana */
   /* background-color: azure; */
}

.logo-univalle img{
    width: 300px;
    height: auto;
    margin-bottom: 4rem;
    border-radius: 2rem;
}

.title-squid-games{
    font-size: 28px;
    font-weight: bold;
    color: white;
    font-family: 'FontPixelSplitter', Arial, sans-serif;
    text-align: center;
}
.title-selection{
    color: white;
    font-size: large;
    text-align: center;
}
.button-start > button {
    font-family: 'FontPixelSplitter', Arial, sans-serif;
    color: white;
    background-color: #eb1e00;
    font-weight: bold;
    width: auto;
    height: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Añadir sombra */
    transition: transform 0.3s ease; /* Transición para el efecto de flotar */
}

.button-start > button:hover {
    background-color: #FF5757;
    transform: translateY(-2px);
}

.button-start > button:active {
    background-color: #920A0A;  
    transform: translateY(0);
}

.button-start > button:disabled {
    background-color: #fde6e7;
    cursor: not-allowed;
}

.button-level > button {
    font-family: 'FontPixelSplitter', Arial, sans-serif;
    color: white;
    background-color: #ff4226;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 0px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-level > button:hover {
    background-color: #ff5d44;
}

.level-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
    margin-bottom: 10px;
    background-image: url('../../../public/assets/images/container1.png'); /* Cambia la ruta a tu imagen de fondo */
    background-size: contain; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    justify-content: flex-end;
}
.footer-copyright {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    width: 100%;
    text-align: center;
    font-size: 12px; /* Tamaño pequeño */
    color: white; /* Color traslúcido */
}
