@font-face {
    font-family: 'FontPixelSplitter';
    src: url('../../../public/assets/fonts/PixelSplitter-Bold.ttf') format('truetype');
}
:root {
    font-family: 'FontPixelSplitter', Arial;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    user-select: none;
}

.logo-univalle img{
    width: 300px;
    height: auto;
    margin-bottom: 4rem;
    border-radius: 2rem;
}

.title-squid-games{
    font-size: 28px;
    font-weight: bold;
    /* color: red; */
    font-family: 'FontPixelSplitter', Arial, sans-serif;
    text-align: center;
}

.button-start > button {
    font-family: 'FontPixelSplitter', Arial, sans-serif;
    color: white;
    background-color: #eb1e00;
    font-weight: bold;
    width: auto;
    height: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Añadir sombra */
    transition: transform 0.3s ease; /* Transición para el efecto de flotar */
}

.button-start > button:hover {
    background-color: #FF5757;
    transform: translateY(-2px);
}

.button-start > button:active {
    background-color: #920A0A;  
    transform: translateY(0);
}

.button-start > button:disabled {
    background-color: #fde6e7;
    cursor: not-allowed;
}

.button-level > button {
    color: white;
    background-color: #ff4226;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-level:hover {
    background-color: #ff5d44;
}

.level-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 50px;
}
.footer-copyright {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    width: 100%;
    text-align: center;
    font-size: 12px; /* Tamaño pequeño */
    color: rgba(0, 0, 0, 0.5); /* Color traslúcido */
}