.hud-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para resaltar */
  padding: 10px;
  border-radius: 10px;
}


.hud-map {
  position: fixed;
  top: 100px;
  right: 20px;
  text-align: center;
  z-index: 10;
}

.hud-map img {
  width: 100px; /* Tamaño inicial de la imagen */
  transition: transform 0.3s ease;
}

.hud-mapita img {
  width: 100px; /* Tamaño inicial de la imagen */
  transition: transform 0.3s ease;
}

.hud-map a:hover img {
  transform: scale(1.1); /* Aumentar ligeramente el tamaño al hacer hover */
}

.map-text {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.overlay {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
  z-index: 20;
  overflow: hidden;
}

.overlay img {
  max-width: 80%;
  max-height: 90%;
}

#large-map:target {
  display: flex; /* Mostrar cuando está enfocado */
}

.close-overlay {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

/* ///////////////////// */

/* Estilos para el contenedor del usuario */
.user-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para la imagen de perfil */
.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  top: 1px;
}

/* Estilos para el nombre de usuario */
.user-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

/* Estilos para el contenedor del usuario */
#user-info {
  position: absolute;
  top: 20px; 
  right: 20px; 
  z-index: 99999;
}


/* ///////////////////// */
.hud-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white; /* Texto en color blanco */
}

.hud-item2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white; /* Texto en color blanco */
}

.hud-icon {
  font-size: 24px;
  margin-right: 10px;
}

.hud-text {
  font-size: 40px; /* Tamaño de fuente aumentado para la información (vidas, pociones, radios) */
  font-weight: bold;
}

/* Estilo para las imágenes de vida */
.hud-item img {
  width: 34px; /* Tamaño de la imagen */
  height: 34px;
  margin-left: 10px;
  margin-right: 17px;
}

/* Estilo para las imágenes de curao */
.hud-item2 img {
  width: 55px; /* Tamaño de la imagen */
  height: 60px;
  margin-right: 5px;
}

/* Estilos para el texto informativo */
.text-info {
  position: absolute;
  text-align: center;
  bottom: 130px; /* Posición desde abajo */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
